@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

.gallery-highlight{
    width: 100%;
    height: 80%;
    object-fit: contain;
}

section{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.gallery{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(83, 20, 20), rgb(90, 90, 2));
    
}
.description{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #5a5a02 , #531414);

    font-size: 2.5rem;
    color: #f0ffff;
}

.preview{
    height: 120px;
    display: flex;
    width: 100%;
    border: 1px solid #6e502c;
    overflow-y: hidden;
}

.preview img{
    height: 120px;
    width: 70px;
    /*flex grow 1 = each child set to an equal size inside the container*/
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

img.active{
    opacity: 1;
}
footer{
    position: fixed;
    bottom: 10px;
    left: 9%;
    text-align: center;
    color: blanchedalmond;
}
@media only screen and (max-width:700px) {
    section{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: center;
        background-color: black;
    }
    .gallery{
        width: 100%;
        
    }
    .description{
        width: 100%;
        font-size: 1rem;
    }
    .gallery-highlight{
        height: 65vh;
        width: 100%;
        object-fit: contain;
    }
    .preview{
        width: 100%;
        overflow-x: auto;
    }
    .preview img{
        height: 20vh;
    }
    footer{
        position: relative;
        margin: 5px auto;
        color: blanchedalmond;
        bottom: -10px;
        left: 0px;
    }
}